/* RESET */
.reset-a {
  text-decoration: none;
  color: inherit;
}
.reset-a:hover {
  text-decoration: underline;
}

.reset-ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* UTILITIES */
.fs-1_1 {
  font-size: 1.1rem;
}

.fade-to-white {
  background: linear-gradient(to bottom, transparent 0%, black 100%);
}

.text-max-2-lines {
  /* Use Webkit for compatibility reason */
  display: -webkit-box;
  display: box;
  -webkit-line-clamp: 2; /* Max 2 lines */
  line-clamp: 2; /* Max 2 lines */
  -webkit-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* VYNIL CARD */
.vynil-card {
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}
.vynil-card:hover {
  transform: scale(1.1);
}

/* HOMEPAGE */
#jumbo {
  height: 60vh;
}

.jumbo-text {
  padding-top: 30%;
}

.jumbo-text * {
  z-index: 1;
}

.jumbo-img {
  width: 80%;
  left: 50%;
  bottom: 0%;
  transform: translate(-50%, 50%);
}

/* Resolution: SMALL */
@media screen and (max-width: 768px) {
  #jumbo {
    max-height: 350px !important;
  }
}

/* Resolution: MEDIUM */
@media screen and (min-width: 768px) and (max-width: 992px) {
  #jumbo {
    max-height: 500px !important;
  }
}

/* Resolution: LARGE, + */
@media screen and (min-width: 992px) {
  #jumbo {
    max-height: 800px !important;
  }
}
